name: "CI/CD"
on:
  push:
    branches: ['**']
  pull_request:
  release:
    types: [published]

jobs:
  build:
    name: Build cURL
    runs-on: windows-2022
    strategy:
      matrix:
        include:
          - flavor: "x86"
            msystem: "MINGW32"
            toolchain: "i686"
          - flavor: "x64"
            msystem: "MINGW64"
            toolchain: "x86_64"
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: mingw-w64-${{ matrix.toolchain }}-toolchain base-devel cmake git mingw-w64-${{ matrix.toolchain }}-7zip upx
      - uses: bwoodsend/setup-winlibs-action@v1
        id: winlibs
        with:
          tag: 15.2.0posix-13.0.0-msvcrt-r3
          destination: ${{ runner.temp }}\winlibs-setup
          architecture: ${{ matrix.toolchain }}
          add_to_path: false
      - run: Copy-Item -Path "${{ steps.winlibs.outputs.bin }}\gcc.exe" -Destination "${{ steps.winlibs.outputs.bin }}\cc.exe"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          path: cache
          key: dependencies-${{ hashFiles('dependencies.lst') }}
      - shell: msys2 {0}
        run: git config --global core.autocrlf input
      - shell: msys2 {0}
        run: ./build.sh
        env:
          WINLIBS_BIN_PATH_OVERRIDE: ${{ steps.winlibs.outputs.bin }}
      - uses: actions/upload-artifact@v4
        with:
          name: curl-windows-${{ matrix.flavor }}
          path: build/curl-*.zip
      - uses: actions/upload-artifact@v4
        with:
          name: build-log-${{ matrix.flavor }}
          path: build/curl_build-*.log

  tests:
    name: Build Test-Runner
    runs-on: windows-2022
    steps:
      - uses: msys2/setup-msys2@v2
        id: msys2
        with:
          msystem: MINGW32
          update: true
          install: base-devel mingw-w64-i686-7zip
      - uses: bwoodsend/setup-winlibs-action@v1
        id: winlibs
        with:
          tag: 15.2.0posix-13.0.0-msvcrt-r3
          destination: ${{ runner.temp }}\winlibs-setup
          architecture: i686
          add_to_path: false
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - shell: msys2 {0}
        run: CC="$(cygpath "${{ steps.winlibs.outputs.bin }}\gcc.exe")" make -B
        working-directory: ${{ github.workspace }}/tests
      - uses: actions/upload-artifact@v4
        with:
          name: curl-windows-test-runner
          path: tests/curl-test-runner.7z

  release:
    name: release files
    if: ${{ github.event_name == 'release' }}
    needs: [build, tests]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: curl-windows-*
          path: artifacts
          merge-multiple: true
      - uses: Roang-zero1/github-upload-release-artifacts-action@v2
        with:
          args: artifacts/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
